*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    justify-content:center;
    align-items:center;
    background:#0d0d0d;
}

.inputgrp{
    position:relative;
    margin:20px 0;
}

.inputgrp input{
    width:360px;
    height:60px;
    color:#fff;
    font-size:16px;
    padding:0 15px;
    border:1.2px solid rgb(220,223,223);
    background:transparent;
    outline:none;
    border-radius:5px;
}

.inputgrp label{
    position:absolute;
    top:50%;
    left:15px;
    transform:translateY(-50%);
    font-size:16px;
    color:rgb(218,223,223);
    pointer-events:none;
    padding:0 5px;
    transition:0.3s;
}

.inputgrp input:focus ~ label,
.inputgrp input:valid ~ label{
    top:0;
    font-size:14px;
    background:#0d0d0d;
}