*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: #0d0d0d;
    color: #fff;
    min-height: 100vh;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.links a{
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    display: flex;
    justify-content:  space-between; 
}

.sidebar {
    flex: 1;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
}

.main {
    flex: 3;
    padding: 20px;
}